<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hadluo.store.service.mapper.ItemTypeMapper">
	<resultMap id="BaseResultMap" type="com.hadluo.store.api.pojo.ItemType">
		<id column="id" property="id"/>
		<result column="name" property="name" />
	    <result column="cover" property="cover" />
	    <result column="sort" property="sort" />
	    <result column="descript" property="descript" />
	    <result column="big_image" property="bigImage" />
	</resultMap>

	<select id="selectSortByPage" resultMap="BaseResultMap">
		select
		*
		from
		t_item_type where 1=1 
		order by sort desc
	</select>
</mapper>